// Colors
$prim-royal-blue: #276fbf;
$prim-royal-red: #f03a47;
$prim-off-white: #f6f4f3;

// Secondary Colors
$sec-dark-blue: #183059;
$sec-dark-grey: #191d24;
$sec-dingy-red: #f03a47;

// Other Colors
$white: #fff;

// variable
